.photo-grid {
  width: 100%;
  max-width: calc(100% - (48px * 2));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: calc(100% - (24px * 2));
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: calc(100% - (16px * 2));
    gap: 12px;
    padding-bottom: 64px;
  }
}
