.header {
  padding: 28px 0 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: calc(100% - (48px * 2));
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: calc(100% - (24px * 2));
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: calc(100% - (16px * 2));
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 100%;
    max-width: 288px;
    padding-top: 16px;
  }
}
