.footer__links {
  list-style: none;
  padding: 0 0 0 48px;
  margin: 0;
  display: flex;
}

@media screen and (max-width: 790px) {
  .footer__links {
    padding: 0 0 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    padding: 0 0 0 16px;
  }
}
