.intro {
  width: 100%;

  display: flex;
  flex-direction: column;
  max-width: calc(100% - (148px * 2));
  /* Родителю задана ширина. В этом блоке не получится сделать иначе. При подходе max-width: 690px; блок центрируется и придется объединять его с блоком выше, чтобы в контрольных точках он стоял вровень с картинкой блока lead. Паддингом сделать это не получится, т.к. из-за них на промежуточных разрешениях будет появляться горизонтальный скролл.   */
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: calc(100% - (48px * 2));
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100% - (24px * 2));
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: calc(100% - (16px * 2));
  }
}
