.intro {
  width: 77%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 100%;
  }
}
