.cover {
  min-width: calc(100% - (48px * 2));

  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding-bottom: 64px;
  }
}
