.place__heading {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
}

/* @media screen and (max-width: 1024px) {
  .place__heading {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__heading {
    gap: 28px;
  }
} */
