.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 24px 0;
}

@media screen and (max-width: 1280px) {
  .footer {
  }
}

@media screen and (max-width: 1024px) {
  .footer {
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}
