.header__lang-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 8px;
}

@media screen and (max-width: 425px) {
  .header__lang-links {
    padding-right: 16px;
  }
}
