.lead__illustration {
  max-width: calc(100% - (148px * 2));
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .lead__illustration {
    max-width: calc(100% - (48px * 2));
  }
}

@media screen and (max-width: 768px) {
  .lead__illustration {
    max-width: 100%;
  }
}
